
/*
*common
*/
body {
    padding: 50px;
}

.fl { float: left; }

.fr { float: right; }

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    padding: 30px 50px;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 4px 20px rgba(0,0,0,.19);
}

/*
*header
*/
header {
    margin-bottom: 40px!important;
    margin-top: 40px!important;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 4px 12px rgba(0,0,0,.19);
    margin-right: 40px;
}

.profile img {
    width: 100%;
}

.brife-intro h2 {
    margin-top: 36px;
    margin-bottom: 7px;
    font-size: 36px;
    font-weight: normal;
}

.brife-intro span {
    font-weight: bold;
}

.contact {
    width: 350px;
}

.contact-title {
    border-bottom: 4px solid #000;
    padding-bottom: 8px;
    font-weight: bold;
}

.contact-item {
    line-height: 1.65;
}

.contact-item i {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.contact-item:last-child i {
    font-size: 19px;
    margin-left: 2px;
}




/*
*section && para 1
*/
.section-title {
    font: 18px "Microsoft YaHei";
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 360px;
    margin-bottom: 20px;
    font-weight: bold;
}

.para {
    padding-left: 75px;
    position: relative;
}

.para:before {
    content: "";
    width: 9px;
    height: 9px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 4px;
}

.para:after {
    content: "";
    height: 108%;
    border-left: 1px solid #000;
    position: absolute;
    top: 15px;
    left: 8px;
}

.para-end:after {
    height: 85%;
}

.para-title span {
    color: #ccc;
}

.edu-exp .para-title {
    margin-bottom: 0;
}

.edu-exp .sub-title {
    margin-top: 0;
    color: #b4bfbb;
}

.para-content {
    margin-top: 10px;
    text-align: justify;
    line-height: 1.65;
}


/*
*section && para 2
*/
.extra-activity {
    width:  350px;
}

.para-2 {
    padding-left: 75px;
    position: relative;
}

.para-2:before {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 20px;
}


/*
*label
*/
.personal-skill {
    width: 350px;
}

.skill-label {
    display: inline-block;
}

.skill-label:before {
    font-size: 20px;
    margin-right: 25px;
}

.personal-skill .skill-label {
    float: left;
    margin-bottom: 40px;
    margin-right: 40px;
}
.personal-skill .skill-label:nth-child(odd) {
    float: right;
    width: 120px;
}