@charset "UTF-8";
/* pulic */
body {
    font-size: 14px;
    font-family: "微软雅黑";
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.gradient {
    background: -webkit-linear-gradient(top, #fff, #f3f3f3);
    background:    -moz-linear-gradient(top, #fff, #f3f3f3);
    background:     -ms-linear-gradient(top, #fff, #f3f3f3);
    background:      -o-linear-gradient(top, #fff, #f3f3f3);
    background:         linear-gradient(top, #fff, #f3f3f3);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f3f3f3)";
}

/* layout */
